@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600,800&display=swap');



*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.nav-link {
    text-transform: uppercase;
    margin-right: 59px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 4px;
    background: #deb37e;
    transition: 0.2s;
    margin-top: -10px;
}

.nav-item:hover::after {
    width: 80%;
}


.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.navbar-nav .nav-link {
    color: #000;
    font-weight: bold;

}


#custom-search-input
{
    padding-top: 13px;
}

.input-group
{
    background: #c3bfbc;
}


.form-control
{
    background: #c3bfbc;
    color: #fff;
    border-radius: 20px;
}

#button-addon3
{
    color: #636e72;
}

#button-addon3:hover
{
    color: #dfe6e9;
    transition: all 0.3s linear;
}
/*---------- hero-section------*/

.hero {

    background-image: url(../img/hero-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    padding-top: 217px;
    padding-bottom: 10px;

}

.jumbotron h1 {
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    color: #deb37e;
    font-size: 4.5rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px #c7cfb7;

}

.jumbotron h4 {
    font-family: 'Open Sans', sans-serif;
    color: #54524f;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 3px;
}

.jumbotron a {
    border-radius: 36px;
    background: #ffffff;
    border: none;
    color: #54524f;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.jumbotron a:hover {
    background: #deb37e;
    color: #373737;
    transition: all 0.3s linear;
}

.jumbotron p {
    font-size: 16px;
    letter-spacing: 2px;
    color: #54524f;
    padding-top: 10px;

}


/*---------- cards-section------*/

.cards {
    margin-top: 189px;
}

.cards h1 {
    text-transform: uppercase;
    color: #deb37e;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;

}

.cards h6 {
    color: #7f7770;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;

}

.card-body {
    background: #7f7770;
    color: #f5f6fa;
}

.card {
    margin-top: 84px;
}

.cards a {
    background: #7f7770;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 3px;
    border-radius: 17px;
    border: none;
    margin-top: 54px;
}

.cards a:hover {
    border: 1px solid #7f7770;
    background: none;
    transition: all 0.3s linear;
    color: #757770;
}

/*---------- coupons-section------*/

.coupons {
    margin-top: 183px;

}

.disc-img {
    padding: 0;
}




/*---------- discount-section------*/

.discount {
    background: #7f7770;
    padding-bottom: 26px;


}

.discount h2 {
    padding-top: 216px;
    color: #fff;
    font-size: 57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.discount p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.discount a {
    background: #e2a355;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    font-weight: 650;
}

.discount a:hover {
    background: none;
    border: 1px solid #e2a355;
    color: #fff;
    transition: all 0.3s linear;
}


/*---------- promo-section------*/

.promo-content {
    background: #deb37e;
    padding-bottom: 26px;

}

.promo-content h2 {
    padding-top: 216px;
    color: #fff;
    font-size: 57px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;

}

.promo-content p {
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}

.promo-content a {
    background: #e2a355;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    font-weight: 650;
}

.promo-content a:hover {
    background: #ffffff;
    color: #e2a355;
    transition: all 0.3s linear;
}

.promo-img {
    padding: 0;
}

.promo-img .img-thumbnail {
    padding: 0;
}



/*---------- hiking-section------*/

.hiking {
    background: #99928d;
    color: #ffffff;
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;


}

.hiking h2 {
    font-weight: 600;

}



/*---------- explore-section------*/

.explore {
    background-image: url(../img/explore.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding-top: 350px;
}

.explore h1 {

    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #e2a355;
    text-shadow: 2px 2px #c7cfb7;
    font-style: italic;

}

.explore span {
    color: #54524f;

}


/*---------- features-section------*/

.features {
    margin-top: 214px;
}

.features h2 {
    color: #deb37e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


/*---------- quotes-section------*/

.quotes {
    padding-top: 250px;
}

.quote-text blockquote {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.quote-text p {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}


/*---------- newsletter-section------*/

#newsletter {
    background: #deb37e;
    padding-top: 170px;
    margin-top: 170px;
    padding-bottom: 170px;

}

#newsletter h1 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

#newsletter p {
    font-family: 'Open Sans', sans-serif;
    color: #576574;
    font-size: 18px;
    padding: 0px;
    margin: 25px 0 40px;
}

#newsletter form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#newsletter form input[type='email'] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#newsletter form input[type='submit'] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 20px;
    background: #54524f;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: 630;
    font-family: 'Open Sans', sans-serif;
}

#newsletter form input[type='submit']:hover {
    opacity: 0.9;
    transition: all 0.3s linear;
}



/*---------- footer-section------*/
#footer {
    padding-top: 270px;
    background: #7f7770;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

#footer p {
    font-size: 15px;
    letter-spacing: 1px;
}

.footer-social {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.footer-social ul {
    padding-left: 0;
}

.footer-social li {
    display: inline-block;
    margin-bottom: 4px;
}

.footer-social li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;

}

.footer-social a {
    background-color: #fff;
    color: #7f7770;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.footer-social a:active,
.footer-social a:focus,
.footer-social a:hover {
    color: #fff;
    background-color: #7f7770;
}

.footer-social .size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.footer-social a.instagram:hover {
    background-color: #833ab4;
}

.footer-social a.facebook:hover {
    background-color: #3b5998;
}

.footer-social a.twitter:hover {
    background-color: #00acee;
}

.footer-social a.whatsapp:hover {
    background-color: #128c7e;
}

.footer-links {
    padding-left: 0;
    list-style: none;
    padding-top: 10px;

}

#footer h6 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;

}

.footer-links li {
    display: block;

}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #deb37e;
    transition: all 0.3s linear;
}


/*---------- media-query-section------*/

@media only screen and (max-width:600px)
{
    
    .navbar-nav
    {
        text-align: center;
    }
    
    
    
    .discount h2
    {
        padding-top: 25px;
    }
    
    .promo-content h2
    {
        padding-top: 25px;
    }
    
    .features
    {
        margin-top: 90px;
    }
    
    .quotes
    {
        margin-top: 100px;
    }
}


@media only screen and (min-width:600px)
{
    .navbar-nav
    {
        text-align: center;
    } 
    
    
    .discount h2
    {
        padding-top: 25px;
    }
    
     .promo-content h2
    {
        padding-top: 25px;
    }
    
}


@media only screen and (min-width: 768px) {
     .navbar-nav
    {
        text-align: center;
    }
} 